<!-- provider Section -->
<section class="page-section" id="provider-list">
  <div class="container">
    <h2 class="text-center mt-0">At Your Service</h2>
    <hr class="divider my-4">

    <a href="/providers/add-provider/" class="btn btn-primary my-2"> Add a new provider</a>

    <div class="table-responsive">
      <table class="table table-hover table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Position</th>
            <th scope="col">Company</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {{#each providers}}
          <tr>
            <td scope="row">{{ id }}</td>
            <td scope="row">{{ firstname }}</td>
            <td scope="row">{{ lastname }}</td>
            <td scope="row">{{ position }}</td>
            <td scope="row">{{ company.company_name }}</td>
            <td scope="row">
              <a href="/providers/details/{{id}}" class="btn btn-info btn-sm"> More info...</a>
              <a href="/providers/edit/{{id}}" class="btn btn-secondary btn-sm"> edit</a>
              <a href="#myModal{{id}}" class="btn btn-danger btn-sm" data-toggle="modal"> delete</a>

            </td>
          </tr>

          <!-- Modal Window - Confirmation -->
          <div id="myModal{{id}}" class="modal fade">
            <div class="modal-dialog modal-confirm">
              <div class="modal-content">
                <div class="modal-header">
                  <div class="icon-box">
                    <i class="material-icons">&#xE5CD;</i>
                  </div>
                  <h4 class="modal-title">Are you sure?</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                  <p>Do you really want to delete these records? This process cannot be undone.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-info btn-md" data-dismiss="modal">Cancel</button>
                  <a href="/providers/delete/{{id}}" type="button" class="btn btn-danger btn-md">Delete</a>
                </div>
              </div>
            </div>
          </div>
          {{/each}}
        </tbody>
      </table>

    </div>
  </div>
  </div>
</section>